html,
body {
  padding: 0;
  margin: 0 auto;
  font-family: "Quicksand", sans-serif !important;
  scroll-behavior: smooth;
  background-color: rgb(15 20 29);
}

a {
  color: unset;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  background: rgb(15 20 29);
}

p {
  color: #808dad;
  line-height: 30px;
  font-family: "Quicksand", sans-serif !important;
}
.contactmeacnhor {
  color: #808dad !important;
  line-height: 30px;
  font-family: "Quicksand", sans-serif !important;
  text-decoration: none;
}
.contactmeacnhor:hover {
  text-decoration: underline;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #fff;
  font-family: "Quicksand", sans-serif;
}

h2 {
  font-size: 2.5rem !important;
}

section {
  padding-top: 150px;
}

footer {
  padding-bottom: 10px;
  padding-top: 60px;
  border-top: 1px solid #171f38;
}

.primary__btn {
  background: #171f38 !important;
  padding: 7px 25px !important;
  border: 1px solid #01d293 !important;
  border-radius: 5px;
}

.primary__btn a {
  text-decoration: none;
  color: #01d293;
  background: transparent !important;
}

.secondary__btn {
  background: transparent;
  border: none;
  outline: none;
  padding: 7px 25px;
}

.secondary__btn a {
  color: #01d293 !important;
}
.primary__btn a:hover,
.secondary__btn a:hover {
  color: #01d293;
}

::-webkit-scrollbar {
  width: 10px;
  background: #808dad;
}

::-webkit-scrollbar-thumb {
  border-radius: 2em;
  background: #171f38;
}

@media only screen and (max-width: 992px) {
  p {
    font-size: 0.9rem !important;
  }
  a {
    font-size: 0.9rem !important;
  }
  .primary__btn a,
  .secondary__btn a {
    font-size: 0.9rem;
  }
}

@media only screen and (max-width: 768px) {
  section {
    padding-top: 110px;
  }

  footer {
    padding-top: 0;
    border: none;
  }
}

.head-text {
  text-align: center;
  color: #fff;
  font-family: "Quicksand", sans-serif !important;
  text-transform: capitalize;
}
.head-text span {
  color: #313bac;
}
@media screen and (min-width: 2000px) {
  .head-text {
    font-size: 4rem;
  }
}
@media screen and (max-width: 450px) {
  .head-text {
    font-size: 2rem;
  }
}

.app__flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
.app__skills {
  flex: 1;
  width: 100%;
  flex-direction: column;
}
.app__skills-container {
  /* margin-top: 3rem; */
  display: flex;
  flex-direction: row;
}
@media screen and (max-width: 900px) {
  .app__skills-container {
    width: 100%;
    flex-direction: column;
  }
}
.app__skills-list {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  margin-right: 5rem;
}
@media screen and (max-width: 900px) {
  .app__skills-list {
    margin-right: 0;
    justify-content: center;
    align-items: center;
  }
}
.app__skills-item {
  flex-direction: column;
  text-align: center;
  margin: 1rem;
  transition: all 0.3s ease-in-out;
}
.app__skills-item div {
  width: 70px;
  height: 70px;
  /* border-radius: 50%; */
  background-color: transparent;
}

@media screen and (min-width: 2000px) {
  .app__skills-item div {
    width: 150px;
    height: 150px;
  }
}
@media screen and (max-width: 450px) {
  .app__skills-item div {
    width: 70px;
    height: 70px;
  }
}
.app__skills-item p {
  font-weight: 500;
  margin-top: 0.5rem;
}
@media screen and (min-width: 2000px) {
  .app__skills-item {
    margin: 1rem 2rem;
  }
  .app__skills-item p {
    margin-top: 1rem;
  }
}
.app__skills-exp {
  flex: 1;
  display: flex;
  margin-top: 3rem;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
@media screen and (max-width: 900px) {
  .app__skills-exp {
    margin-top: 2rem;
  }
}
.app__skills-exp-item {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 1rem 0;
}
.app__skills-exp-works {
  flex: 1;
}
.app__skills-exp-works .app__skills-exp-work {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-bottom: 1rem;
  cursor: pointer;
}
.app__skills-exp-works .app__skills-exp-work h4 {
  font-weight: 500;
}
.app__skills-exp-works .app__skills-exp-work p {
  font-weight: 400;
  color: #6b7688;
  margin-top: 5px;
}
.app__skills-exp-year {
  margin-right: 3rem;
}
.app__skills-exp-year p {
  font-weight: 800;
  color: #313bac;
}
@media screen and (max-width: 450px) {
  .app__skills-exp-year {
    margin-right: 1rem;
  }
}
.skills-tooltip {
  max-width: 300px !important;
  background-color: #ffffff;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.1) !important;
  border-radius: 5px !important;
  padding: 1rem !important;
  color: #6b7688;
  text-align: center !important;
  line-height: 1.5 !important;
  opacity: 1 !important;
}
@media screen and (min-width: 2000px) {
  .skills-tooltip {
    font-size: 1.75rem !important;
    max-width: 500px !important;
    line-height: 2 !important;
  }
}
.yearh {
  color: #01d293 !important;
  font-weight: 400;
}
